<div style="max-width: 600px; margin: auto; padding: 24px; display: flex; flex-direction: column; gap: 24px;">
    <IgbLegend @ref="_legend" Orientation="LegendOrientation.Horizontal"></IgbLegend>

    <IgbDataChart Width="100%"
                  Height="300px"
                  Legend="_legend"
                  ComputedPlotAreaMarginMode="ComputedPlotAreaMarginMode.Series">
        <IgbCategoryXAxis Name="xAxis"
                          DataSource="_data"
                          Label="@nameof(DataItem.Index)"
                          MajorStroke="1">
        </IgbCategoryXAxis>

        <IgbNumericYAxis Name="yAxis" MinimumValue="10" MaximumValue="20" Interval="5"></IgbNumericYAxis>

        <!-- Value の最大値を強調します -->
        <IgbValueOverlay AxisName="yAxis"
                         Title="Max Value"
                         Value="@_maxValue"
                         Thickness="3"
                         IsAxisAnnotationEnabled="true">
        </IgbValueOverlay>

        <!-- Value の最小値を強調します -->
        <IgbValueOverlay AxisName="yAxis"
                         Title="Min Value"
                         Value="@_minValue"
                         Thickness="3"
                         DashArray="[3,5]"
                         IsAxisAnnotationEnabled="true">
        </IgbValueOverlay>

        <!-- Value 16 に単一線を表示します -->
        <IgbValueOverlay AxisName="yAxis"
                         LegendItemVisibility="Visibility.Collapsed"
                         Value="16"
                         Brush="lightgray"
                         Thickness="1"
                         IsAxisAnnotationEnabled="true"
                         AxisAnnotationBackground="transparent"
                         AxisAnnotationTextColor="#444">
        </IgbValueOverlay>

        <!-- Value 13.5 のラベルのみ表示させます -->
        <IgbValueOverlay AxisName="yAxis"
                         LegendItemVisibility="Visibility.Collapsed"
                         Value="13.5"
                         Brush="transparent"
                         IsAxisAnnotationEnabled="true"
                         AxisAnnotationBackground="transparent"
                         AxisAnnotationTextColor="#444">
        </IgbValueOverlay>
        <IgbLineSeries Title="Sample Data"
                       DataSource="_data"
                       XAxisName="xAxis"
                       YAxisName="yAxis"
                       ValueMemberPath="@nameof(DataItem.Value)">
        </IgbLineSeries>
    </IgbDataChart>
</div>

@code {
    public class DataItem
    {
        public int Index { get; set; }
        public double? Value { get; set; }
    }

    private List<DataItem> _data = new()
    {
        new(){ Index = 0, Value = 13.5 },
        new(){ Index = 1, Value = 16 },
        new(){ Index = 2, Value = 11 },
        new(){ Index = 3, Value = 15 },
        new(){ Index = 4, Value = 19 },
        new(){ Index = 5, Value = 12 },
        new(){ Index = 6, Value = 16 },
    };
    private double _maxValue;
    private double _minValue;

    protected override void OnInitialized()
    {
        _maxValue = _data.Max(item => item.Value) ?? 0;
        _minValue = _data.Min(item => item.Value) ?? 0;
    }

    private IgbLegend? _legend;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.StateHasChanged();
        }
    }
}
